{% extends "base.html" %}
{% block title %}Facilities{% endblock %}
{% block pagetitle %}Facilities{% endblock pagetitle %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="toolbar float-right">
            <a href="#" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-table"></i>
                </span>
                <span class="text">Export Facilities</span>
            </a>
            <a href="#" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add Facility</span>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table
                id="facilities-list"
                class="table table-striped table-sm"
                style="width:100%"
                data-server-side="true"
                data-state-save="true"
                data-defer-render="true"
                data-info="true"
                data-page-length="10"
                data-paging-type="full_numbers"
                data-ajax="/api/facilities/?format=datatables">
                <thead>
                    <tr>
                        <th data-data="name" data-name="name">Name</th>
                        <th data-data="mfl_code" data-name="mfl_code">MFL Code</th>
                        <th data-data="county">County</th>
                        <th data-data="sub_county">Sub-County</th>
                        <th data-data="ward">Ward</th>
                        <th data-data="keph_level">KEPH Level</th>
                        <th data-data="facility_type">Type</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block inline_javascript %}
<script>
window.addEventListener("load", function(){
    $(document).ready(function() {
        $('#facilities-list').DataTable();
    });
});
</script>
{% endblock inline_javascript %}
