<div class="row">
    <div class="row" style="width: 100%;">
        <div class="custom-control custom-radio col d-flex flex-col">
            <input
                    class="custom-control-input"
                    data-question="{{ question.pk }}"
                    id="rad_true_{{ question.pk }}"
                    name="response:::{{ question.pk }}:::-"
                    type="radio"
                    value="true"
                    {% if answer.content is True %} checked {% endif %}
                    {% if not optional %} required {% endif %}
                    {% if questionnaire_is_complete %} disabled {% endif %}
            >
            <label class="custom-control-label" for="rad_true_{{ question.pk }}">{{ on_label }}</label>
        </div>
        <div class="custom-control custom-radio col d-flex flex-col">
            <input
                    class="custom-control-input"
                    data-question="{{ question.pk }}"
                    name="response:::{{ question.pk }}:::-"
                    id="rad_false_{{ question.pk }}"
                    type="radio"
                    value="false"
                    {% if answer.content is False %} checked {% endif %}
                    {% if not optional %} required {% endif %}
                    {% if questionnaire_is_complete %} disabled {% endif %}
            >
            <label class="custom-control-label" for="rad_false_{{ question.pk }}">{{ off_label }}</label>
        </div>
    </div>
    <div class="row">
        <div id="div_question_error_{{ question.pk }}" class="d-none text-danger"></div>
    </div>
</div>
