<div class="form-group">
    <input
            class="form-control"
            data-question="{{ question.pk }}"
            max="{{ max }}"
            min="{{ min }}"
            name="response:::{{ question.pk }}:::-"
            placeholder="{{ placeholder }}"
            value="{{ answer.content }}"
            step="{{ step_interval }}"
            type="number"
            {% if questionnaire_is_complete %} disabled {% endif %}
            {% if not optional %} required {% endif %}
    >
</div>
