{% extends "base.html" %}
{% load static i18n compress %}
{% load crispy_forms_tags %}
{% load questionnaire_responses %}
{% block title %}
    Capture {{ questionnaire }} Responses
{% endblock title %}
{% block content %}
    {% block page_title %}
    <div class="col pt-2">

            <h3 class"text-gray-800">
                {{ questionnaire }}
            </h3>

            <p class="font-weight-bolder">
                Step {{ current_step }} of {{ total_steps }}
            </p>
            <h6 class="h6 text-muted text-gray-800 mb-4">{{ object.facility.name }} </h6>

    {% if questionnaire_is_complete %}
        <a data-toggle="collapse" href="#collapseMentorsList"
            aria-expanded="false" aria-controls="collapseMentorsList">
            <h5>Mentors list</h5>
        </a>
    {% endif %}
        <div class="collapse" id="collapseMentorsList">
            <table class="table table-sm table-bordered">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Organisation</th>
                </thead>
                <tbody>
                    {%for mentor in object.metadata.mentors%}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td>{{mentor.name}}</td>
                        <td>{{mentor.phone_number}}</td>
                        <td>{{mentor.role}}</td>
                        <td>{{mentor.member_org}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock page_title %}
    {% if perms.sims.change_questionnaireresponses %}
        {% block questionnaire_metadata_container %}
            <form action="{% url 'api:questionnaireresponses-submit-questionnaire-responses' object.pk %}" method="post" id="fm_submit_form" class="submit_form">{% csrf_token %}</form>
            <div class="row">
                <div id="div_questionnaire_error" class="alert alert-danger d-none w-100" role="alert"></div>
            </div>
            <div class="row">
                <div class="col">
                    {% for question_group in questionnaire.direct_decedents_only.active.by_precedence|annotate_with_stats:object %}
                        {% include "fragments/atoms/sims/question_group_display.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endblock questionnaire_metadata_container %}
        {% block questionnaire_navigate_container %}
            <div class="row align-items-end my-3">
                <div class="col">
                {% if questionnaire_is_complete %}
                    <a class="btn btn-secondary px-5" href="{% url 'sims:questionnaire_responses' %}">Back</a>
                {% else %}
                    <a class="btn btn-secondary px-5" href="{% url 'sims:questionnaire_responses_update' object.pk %}">Back</a>
                {% endif %}
                </div>
                <div class="col">
                    {% if not questionnaire_is_complete %}
                        <button
                                class="btn btn-primary float-right px-5"
                                data-questionnaire_responses_stats_url="{% url 'api:questionnaireresponses-detail' object.pk %}"
                                id="btn_submit"
                                type="button"
                        >
                            Submit
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endblock questionnaire_navigate_container %}

        <div class="modal fade" id="mdl_confirm_questionnaire_responses_submission" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Questionnaire Submission</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="p_submission_content" class="lead"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="btn_submit_confirm" type="button" class="btn btn-primary">
                            <span class="text">Proceed</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>You do not have permission to edit questionnaires.</p>
    {% endif %}
    <script defer src="{% static 'js/questionnaire_responses_capture.min.js' %}"></script>
{% endblock content %}
