{% load static i18n compress%}

<li class="nav-item {% if active == "program-nav" %}active {% endif %}" id="program-nav">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#program-menu" aria-expanded="true" aria-controls="program-menu">
        <i class="fas fa-fw fa-tasks"></i>
        <span>Program Reports</span>
    </a>
    <div id="program-menu" class="collapse {% if active == "program-nav" %}show{% endif %}"  data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% if perms.ops.view_stockreceiptverification %}
                <a class="collapse-item {% if selected == "stock-receipt-verification" %}active {% endif %}" id="stock-receipt-verification" href="{% url 'ops:stock_receipt_verifications' %}">
                    Stock Receipts
                </a>
            {% endif %}

            {% if perms.ops.view_activitylog %}
                <a class="collapse-item {% if selected == "activity-log" %}active {% endif %}" id="activity-log" href="{% url 'ops:activity_logs' %}">
                    Activity Log
                </a>
            {% endif %}

            {% if perms.ops.view_sitementorship %}
                <a class="collapse-item {% if selected == "site-mentorship" %}active {% endif %}" id="site-mentorship" href="{% url 'ops:site_mentorships' %}">
                    Site Mentorship
                </a>
            {% endif %}

            {% if perms.ops.view_dailyupdate %}
                <a class="collapse-item {% if selected == "daily-site-updates" %}active {% endif %}" id="daily-site-updates" href="{% url 'ops:daily_site_updates' %}">
                    Daily Site Updates
                </a>
            {% endif %}

            {% if perms.ops.view_timesheet %}
                <a class="collapse-item {% if selected == "timesheets" %}active {% endif %}" id="timesheets" href="{% url 'ops:timesheets' %}">
                    Timesheets
                </a>
            {% endif %}

            {% if perms.ops.view_weeklyprogramupdate and perms.ops.view_activity and perms.ops.view_operationalarea %}
                <a class="collapse-item {% if selected == "weekly-program-updates" %}active {% endif %}" id="weekly-program-updates" href="{% url 'ops:weekly_program_updates' %}">
                    Weekly Program Updates
                </a>
            {% endif %}
        </div>
    </div>
</li>
