{% load static i18n compress%}

<li class="nav-item {% if active == "program-nav" %}active {% endif %}" id="program-nav">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" id="program-menu-link" data-target="#program-menu" aria-expanded="true" aria-controls="program-menu">
        <i class="fas fa-fw fa-tasks"></i>
        <span>Program Activities</span>
    </a>
    <div id="program-menu" class="collapse {% if active == "program-nav" %}show{% endif %}"  data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">

            {% if perms.ops.view_activitylog %}
                <a class="collapse-item {% if selected == "activity-log" %}active {% endif %}" id="activity-log" href="{% url 'ops:activity_logs' %}">
                    Activity Log
                </a>
            {% endif %}

            {% if perms.ops.view_question %}
                <a class="collapse-item {% if selected == "questions" %}active {% endif %}" id="questions" href="{% url 'ops:questions' %}">
                    Questions
                </a>
            {% endif %}

            {% if perms.ops.view_question_answer %}
                <a class="collapse-item {% if selected == "question-answer" %}active {% endif %}" id="question-answer" href="{% url 'ops:question_answers' %}">
                    Question Answer
                </a>
            {% endif %}

            {% if perms.ops.view_checklist %}
                <a class="collapse-item {% if selected == "checklist" %}active {% endif %}" id="checklist" href="{% url 'ops:checklist' %}">
                    Checklist
                </a>
            {% endif %}


            {% if perms.ops.view_mentorship_checklist %}
                <a class="collapse-item {% if selected == "mentorship_checklist" %}active {% endif %}" id="mentorship_checklist" href="{% url 'ops:mentorship_checklist' %}">
                    Mentorship Checklist
                </a>
            {% endif %}

            {% if perms.ops.view_dailyupdate %}
                <a class="collapse-item {% if selected == "daily-site-updates" %}active {% endif %}" id="daily-site-updates" href="{% url 'ops:daily_site_updates' %}">
                    Daily Site Updates
                </a>
            {% endif %}

            {% if perms.ops.view_timesheet %}
                <a class="collapse-item {% if selected == "timesheets" %}active {% endif %}" id="timesheets" href="{% url 'ops:timesheets' %}">
                    Timesheets
                </a>
            {% endif %}

            {% if perms.ops.view_weeklyprogramupdate and perms.ops.view_activity %}
                <a class="collapse-item {% if selected == "weekly-program-updates" %}active {% endif %}" id="weekly-program-updates" href="{% url 'ops:weekly_program_updates' %}">
                    Weekly Program Updates
                </a>
            {% endif %}

        </div>
    </div>
</li>


<script>




function collapseMenu(){
const program_menu_link = document.getElementById("program-menu-link");
program_menu_link.className = "nav-link collapsed";
const program_menu = document.getElementById("program-menu");
program_menu.className = "collapse";
}

const program_items = document.querySelectorAll('.collapse-item');
program_items.forEach(input => input.addEventListener('click', collapseMenu()));


document.addEventListener("DOMContentLoaded", () => {
collapseMenu()
});


</script>
