{% load static i18n compress%}

<li class="nav-item {% if active == "mentorship-nav" %}active {% endif %}" id="mentorship-nav">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" id="site-mentorship-menu-link" data-target="#site-mentorship-menu" aria-expanded="true" aria-controls="site-mentorship-menu">
        <i class="fas fa-fw fa-tasks"></i>
        <span>Mentorship Checklist</span>
    </a>
    <div id="site-mentorship-menu" class="collapse {% if active == "mentorship-nav" %}show{% endif %}"  data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% if perms.ops.view_question %}
                <a class="collapse-item {% if selected == "questions" %}active {% endif %}" id="questions" href="{% url 'ops:questions' %}">
                   Questions
                </a>
            {% endif %}

            {% if perms.ops.view_question_group %}
                <a class="collapse-item {% if selected == "question_groups" %}active {% endif %}" id="question_groups" href="{% url 'ops:question_groups' %}">
                   Question group
                </a>
            {% endif %}

            {% if perms.ops.view_subgroup_section %}
                <a class="collapse-item {% if selected == "subgroup_sections" %}active {% endif %}" id="subgroup_sections" href="{% url 'ops:subgroup_sections' %}">
                   Subgroup section
                </a>
            {% endif %}

            {% if perms.ops.view_group_section %}
                <a class="collapse-item {% if selected == "group_sections" %}active {% endif %}" id="group_sections" href="{% url 'ops:group_sections' %}">
                   Group section
                </a>
            {% endif %}

            {% if perms.ops.view_mentorship_questionnaire %}
                <a class="collapse-item {% if selected == "mentorship_questionnaires" %}active {% endif %}" id="mentorship_questionnaires" href="{% url 'ops:mentorship_questionnaires' %}">
                   Questonnaire
                </a>
            {% endif %}

        </div>
    </div>
</li>


<script>




function collapseMenu(){
const site_mentorship_menu_link = document.getElementById("site-mentorship-menu-link");
site_mentorship_menu_link.className = "nav-link collapsed";
const mentorship_menu = document.getElementById("site-mentorship-menu");
mentorship_menu.className = "collapse";
}

const mentorship_items = document.querySelectorAll('.collapse-item');
mentorship_items.forEach(input => input.addEventListener('click', collapseMenu()));


document.addEventListener("DOMContentLoaded", () => {
collapseMenu()
});


</script>
