{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}

{% block bodyclass %}
  class="bg-gradient-primary"
{% endblock %}

{% block page %}
  {# no modal #}
{% endblock page %}

{% block inner %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block login-background-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <!-- Form here -->
                  <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
                    <input
                      type="hidden"
                      name="{{ redirect_field_name }}"
                      value="{{ redirect_field_value }}"
                    />
                    {% endif %}
                    <button class="primaryAction btn btn-primary btn-user btn-block" type="submit">
                      {% trans "Sign In" %}
                    </button>
                    <hr />
                    <div class="text-center">
                      <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="{{ signup_url }}">Create an Account!</a>
                    </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock inner %}
