{% load static i18n compress %}

<div class="modal fade" id="export-data-modal" tabindex="-1" role="dialog" aria-labelledby="export-data-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-1">
                    <div class="card-header py-3">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" data-toggle="tab" href="#nav-columns" role="tab" aria-controls="nav-columns" aria-selected="true">Columns</a>
                                <a class="nav-link" data-toggle="tab" href="#nav-filters" role="tab" aria-controls="nav-filters" aria-selected="false">Filters</a>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-columns" role="tabpanel" aria-labelledby="nav-home-tab">
                                <h5 class="card-title">Select the columns to include in the exported file.</h5>
                                <div class="" id="div_dump_fields_selection_tree"></div>
                            </div>
                            <div class="tab-pane fade" id="nav-filters" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <form id="fm_filter_form">
                                    <div id="div_loading_indicator"></div>
                                    <div id="div_form_content"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_dump_data" type="button" class="btn btn-primary">
                    <span class="text">Export</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.available_fields_url = "{{ available_fields_url }}";
    window.get_filter_form_url = "{{ get_filter_form_url }}";
    window.dump_data_url = "{{ dump_data_url }}";
</script>
<script defer src="{% static 'js/export_data_modal.min.js' %}"></script>
