{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Sign Out" %}
{% endblock %}

{% block page %}
  {# no modal #}
{% endblock page %}

{% block inner %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none"></div>
                <div class="p-5">
                  <div>
                    <h1 class="h4 text-gray-900 mb-4">{% trans "Please confirm your sign out" %}</h1>
                  </div>
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock inner %}
