{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Mentorship teams
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">
    Mentorship teams
</h1>
<div class="card shadow mb-1">
    <div class="card-header py-3">
        <div class="toolbar float-right">
            {% if perms.ops.add_mentorship_questionnaire %}

                <a href="{% url 'ops:add_questionnaire' %}" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Questionnaire</span>
                </a>

                <a href="{% url 'ops:mentorship_team' %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add Team</span>
                </a>
            {% endif %}
        </div>
<form>

  <div class="form-group">
        <div class="dropdown">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Choose facility
        <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <li class="list-group-item" id="facility_id"></li>
            </ul>
        </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Questionnaire</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    <div class="card-body">

    </div>
</div>
{% endblock content %}
{% block inline_javascript %}
<script>
window.addEventListener("load", function(){
    $(document).ready(function() {
          $.get("{{ get_facilities_url }}", function (data) {
              var facilities = data.results;
              var ele = document.getElementById('facility_id');
                for (var i = 0; i < facilities.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<li value="' + facilities[i].id + '">' + facilities[i].name + '</li>';
                }

            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".dropdown-menu li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            const facility_list = document.querySelectorAll("#facility_id")
            for (const button of facility_list) {
            button.addEventListener('click', function(event) {
                console.log("cliked item ",event.target)
            })
            }


          });

          $.get("{{ get_questionnaires_url }}", function (data) {
              console.log("questionnaires  ",data.results)
          })

    });
});
</script>
{% endblock inline_javascript %}
