{% extends "base.html" %}
{% block title %}
    Question groups
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">
    Question groups
</h1>
<div class="card shadow mb-1">
    <div class="card-header py-3">
        <div class="toolbar float-right">
            {% if perms.ops.add_question_group %}
                <a href="{% url 'ops:question_group_create' %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add Question Group</span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table
                id="question-group-list"
                class="table table-striped table-sm"
                style="width:100%"
                data-server-side="true"
                data-state-save="true"
                data-defer-render="true"
                data-info="true"
                data-page-length="100"
                data-paging-type="full_numbers"
                data-ajax="{% url "api:questiongroup-list" %}?format=datatables">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Questions</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block inline_javascript %}
<script>
window.addEventListener("load", function(){
    $(document).ready(function() {
        $('#question-group-list').DataTable( {
            iDisplayLength: 100,
            responsive: true,
            columns: [
                {data: 'title', name: 'title'},
                {
                    data: 'questions',
                    render: function (data, type, row) {
                        let qns = []
                        for(let i=0;i<data.length;i++){
                            qns.push(data[i].query)
                        };
                        return qns
                    }
                },
                {
                    data: "url",
                    name: "id",
                    orderable: false,
                    searchable: false,
                    render: function ( data, type, row ) {
                        return '<a href="'+ data + '"><i class="fas fa-edit"></i></a>';
                    }
                }
            ]
        } );
    });
});
</script>
{% endblock inline_javascript %}
