{% load static i18n compress %}
{% load questionnaire_responses %}
{% with not_applicable=question_group.stats_is_not_applicable_for_responses %}
<div class="accordion my-2" id="acc_qg_{{ question_group.pk }}">
    <div class="card border border-secondary rounded-7">
        <div class="card-header row">
            <h2 class="mb-0 col">
                <button
                        class="btn btn-link text-left"
                        data-toggle="collapse"
                        data-target="#clp_{{ question_group.pk }}"
                        {% if not_applicable %} disabled {% endif %}
                        id="clp_toggle_{{ question_group.pk }}"
                        type="button"
                        style="outline: none !important; box-shadow: none;"
                >
                    {{ question_group.precedence }}. {{ question_group.title }}
                </button>
            </h2>
            <div class="col mb-0 ml-auto d-flex flex-row-reverse align-items-center">
                {% if question_group.stats_is_answerable %}
                    <div class="form-check form-check-inline">
                        <input
                                class="form-check-input applicability_toggle"
                                type="checkbox"
                                {% if not not_applicable %} checked {% endif %}
                                data-is_applicable="tgl_applicable:::{{ question_group.pk }}"
                                data-mark_as_applicable="{% url 'api:questionnaireresponses-mark-question-group-as-applicable' object.pk %}"
                                data-mark_as_non_applicable="{% url 'api:questionnaireresponses-mark-question-group-as-non-applicable' object.pk %}"
                                data-on="Applicable"
                                data-onstyle="outline-primary"
                                data-off="N/A"
                                data-offstyle="secondary"
                                data-question_group="{{ question_group.pk }}"
                                data-size="sm"
                                data-toggle="toggle"
                                data-width="100"
                                {% if questionnaire_is_complete %} disabled {% endif %}
                        >
                    </div>
                    <div id="spn_spinner_question_group_{{ question_group.pk }}" class="spinner-border text-primary mr-2 d-none" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div
                            class="badge badge-pill {% if question_group.stats_is_complete_for_responses %} badge-success {% else %} badge-warning {% endif %} mr-2"
                            id="bdg_completion_status_badge_{{ question_group.pk }}"
                    >{% if question_group.stats_is_complete_for_responses %} Complete {% else %} Incomplete {% endif %}</div>
                {% endif %}
            </div>
        </div>
        <div id="clp_{{ question_group.pk }}" class="collapse" data-parent="#acc_qg_{{ question_group.pk }}">
            <div class="card-body">
                {% if question_group.stats_is_parent %}
                    {% with question_group as parent %}
                        {% for question_group in parent.sub_question_groups.active.by_precedence|annotate_with_stats:object %}
                            {% include "fragments/atoms/sims/question_group_display.html" %}
                        {% endfor %}
                    {% endwith %}
                {% else %}
                <form id="question_group_form_{{ question_group.pk }}" class="question_group_answers_form">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div id="div_question_group_error_{{ question_group.pk }}" class="alert alert-danger d-none w-100" role="alert"></div>
                        </div>
                    </div>
                    {% for question in question_group.direct_decedents_only.active.by_precedence|annotate_with_stats:object %}
                        {% include "fragments/atoms/sims/question_display.html" %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            {% if not questionnaire_is_complete %}
                                <button
                                        type="button"i
                                        class="btn btn-primary save_changes"
                                        data-question_group="{{ question_group.pk }}"
                                        data-save_changes_url="{% url 'api:questionnaireresponses-save-question-group-answers' object.pk  %}"
                                        id="btn_save_changes_{{ question_group.pk }}"
                                >
                                    Save Changes
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endwith %}
