{% load static i18n compress %}
{% load questionnaire_responses %}
<div class="col my-4 {% if question.parent %} border-left border-secondary {% endif %}" id="div_qst_{{ question.pk }}">
    {% if question.stats_is_parent %}
        <div class="row my-0">
            <div class="col-sm-1">
                {{ question.precedence }}.
            </div>
            <div class="col-sm-11">
                <div class="row">
                    <div class="col-sm-8 border-bottom border-secondary">
                        {% include "fragments/atoms/sims/question_details_and_comment_block.html" %}
                    </div>
                    <div class="col-sm-1 border-bottom border-secondary">
                        <!-- This empty column acts as spacer between the answer and the question. -->
                    </div>
                    <div class="col-sm-3 border-bottom border-secondary">
                        {% include "fragments/atoms/sims/capture_question_answer_block.html" %}
                    </div>
                </div>
                {% with question as parent_question %}
                    {% for question in parent_question.sub_questions.active.by_precedence|annotate_with_stats:object %}
                        {% include "fragments/atoms/sims/question_display.html" %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    {% else %}
        <div class="row my-0">
            <div class="col-sm-1">
                {{ question.precedence }}.
            </div>
            <div class="col-sm-7">
                {% include "fragments/atoms/sims/question_details_and_comment_block.html" %}
            </div>
            <div class="col-sm-1">
                <!-- This empty column acts as spacer between the answer and the question. -->
            </div>
            <div class="col-sm-3">
                {% include "fragments/atoms/sims/capture_question_answer_block.html" %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 border-bottom border-secondary"></div>
    </div>
</div>
