{% load static i18n compress %}
<div class="accordion my-2" id="acc_qg_{{ question_group.pk }}">
    <div class="card border border-secondary rounded-7">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#clp_{{ question_group.pk }}" aria-expanded="true" aria-controls="collapseOne">
                    {{ question_group.precedence }}. {{ question_group.title }}
                </button>
            </h2>
        </div>

        <div id="clp_{{ question_group.pk }}" class="collapse" aria-labelledby="headingOne"
            data-parent="#acc_qg_{{ question_group.pk }}">
            <div class="card-body">
                {% if question_group.is_parent %}
                    {% with question_group as parent %}
                        {% for question_group in parent.sub_question_groups.active.by_precedence %}
                            {% include "fragments/atoms/sims/question_group_display.html" %}
                        {% endfor %}
                    {% endwith %}
                {% else %}
                <form id="question_group_form_{{ question_group.pk }}" class="question_group_answers_form">
                    {% for question in question_group.questions.active.by_precedence %}
                        {% include "fragments/atoms/sims/question_display.html" %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <button
                                    type="button"
                                    class="btn btn-primary save_changes"
                                    data-question_group="{{ question_group.pk }}"
                                    data-save_changes_url="{% url 'api:questionnaireresponses-save-question-group-answers' object.pk  %}"
                            >
                                Save Changes
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
