{% load static i18n compress %}
<div class="row" id="div_qst_{{ question.pk }}">
    <div class="col-sm-1">
        {{ question.precedence }}.
    </div>
    <div class="col-sm-8">
        <p class="lead">
            {{ question.query }}
        </p>
        <div class="form-group">
            <label for="id_comments:::{{ question.pk }}"><small class="text-muted">Comments</small></label>
            <textarea class="form-control" id="id_comments:::{{ question.pk }}" name="comments:::{{ question.pk }}" rows="4"></textarea>
        </div>
    </div>
    <div class="col-sm-3">
        {% if question.answer_type == "yes_no" %}
        <div class="row mt-4">
            <div class="form-check form-check-block col d-flex flex-col">
                <label class="form-check-label">YES</label>
                <input class="form-check-input" type="radio" name="response:::{{ question.pk }}" value="True">
            </div>

            <div class="form-check form-check-block col d-flex flex-col">
                <label class="form-check-label">NO</label>
                <input class="form-check-input" type="radio" name="response:::{{ question.pk }}" value="False">
            </div>
        </div>
        {% elif question.answer_type == "true_false" %}
        <div class="row mt-4">
            <div class="form-check form-check-block col d-flex flex-col">
                <label class="form-check-label">TRUE</label>
                <input class="form-check-input" type="radio" name="response:::{{ question.pk }}" value="True">
            </div>
            <div class="form-check form-check-block col d-flex flex-col">
                <label class="form-check-label">FALSE</label>
                <input class="form-check-input" type="radio" name="response:::{{ question.pk }}" value="False">
            </div>
        </div>
        {% elif question.answer_type == "number" %}
        <div class="form-group">
            <label for="id_response:::{{ question.pk }}">Enter number</label>
            <input type="text" class="form-control" id="id_response:::{{ question.pk }}" name="response:::{{ question.pk }}">
        </div>

        {% elif question.answer_type == "short_answer" %}
        <div class="form-group">
            <label for="number">Response</label>
            <textarea type="text" class="form-control" id="response_{{question.pk}}"></textarea>
        </div>

        {% elif question.answer_type == "select_list" %}
        {% for data in question.metadata %}
        <div class="form-group">
            <input type="checkbox" id="response_{{question.pk}}" name="response_{{question.pk}}" value="Bike" />
            <label for="metadata">{{data.name}}</label>
        </div>
        {% endfor %}

        {% elif question.answer_type == "none" %}
        <input type="hidden" hidden="True" class="form-control" value="" id="response_{{question.pk}}">


        {% endif %}


    </div>
</div>
