{% load static i18n compress %}
{% load questionnaire_responses %}
    {{ question.precedence }}.
    {% include "fragments/atoms/sims/question_details_and_comment_block.html" %}

<div class="col border-left border-secondary">
    {% with question as parent_question %}
        {% for question in parent_question.sub_questions.active.by_precedence|annotate_with_stats:object %}
            {% include "fragments/atoms/sims/sub_question_details_and_comment_block.html" %}
        {% endfor %}
    {% endwith %}
</div>
