{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Add/Edit Questionnare Section
{% endblock title %}
{% block content %}
<a href="{% url 'ops:mentorship_questionnaires' %}">&larr; Back</a>

<div class="row">
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
        <div class="row align-page-content">
            <div class="card-header">
                <div class="toolbar float-right">
                    Header section
                </div>
            </div>

            <div class="row d-block">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 center-form">
                    <div class="p-lg-2 p-xs-1 p-sm-1">
                        <div class="text-left">
                            <h1 class="h4 text-gray-900 mb-4">
                                Service Delivery
                            </h1>
                        </div>

                        <div class="accordion" id="accordionExample">
                            <div class="card" id="service_qns">
                                <div class="card-header" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true">
                                    <span class="title" id="service_qn_title"></span>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form id="service_qns_form">
                                            <div>
                                                <input type="submit" id="btnSubmit" name="submit" value="Send" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block inline_javascript %}
<script>

    window.addEventListener("load", function () {
        $(document).ready(function () {
            $.get("{{ get_questionnaires_url }}", function (data) {
                for (var qn of data.results) {
                    if (qn.name == "Service Delivery") {
                        var question_groups = qn.section;
                        for (var question_group of question_groups) {
                            if (question_group.title == "ANC") {
                                document.getElementById("service_qn_title").innerHTML = question_group.title
                                var anc_data = "";
                                for (var question of question_group.questions) {
                                    anc_data +=
                                        '<div class="form-group">' +
                                        '<label>' + question.query + '</label>' +
                                        '<div class="row">' +
                                        '<div class="col">' +
                                        '<label>' + "YES" +
                                        '<input type="checkbox" name="yes" class="form-control">' +
                                        '</label>' +
                                        '</div>' +
                                        '<div class="col">' +
                                        '<label>' + "NO" +
                                        '<input type="checkbox" name="no" class="form-control">' +
                                        '</label>' +
                                        '</div>' +
                                        '</div>' +
                                        '<textarea class="form-control" name="comment" placeholder="comment...">' + '</textarea>'
                                    '</div>'
                                }
                                document.getElementById("service_qns_form").innerHTML = anc_data;
                            } else if (question_group.title == "HIV/..") {
                                console.log("Load the html sec with this data")
                            }
                        }
                    }
                }

            });

        });
    });
</script>
{% endblock inline_javascript %}
