
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Add/Edit Site Mentorship
{% endblock title %}
{% block content %}
<a href="{% url 'ops:site_mentorships' %}">&larr; Back</a>
{% if perms.ops.change_sitementorship %}
<div class="row">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
    <div class="row align-page-content">
      <div class="card-header">
        <div class="toolbar float-right">
            {% if object.pk %}
                {% if perms.ops.delete_sitementorship %}
                    <a href="{% url 'ops:site_mentorship_delete' object.pk %}" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Delete Site Mentorship</span>
                    </a>
                {% endif %}
            {% endif %}
        </div>
      </div>

      <div class="row d-block">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 center-form">
          <div class="p-lg-5 p-xs-1 p-sm-1">
            <div class="text-left">
                <h1 class="h4 text-gray-900 mb-4">
                    {% if object.pk %}
                        Edit Site Mentorship
                    {% else %}
                        Create Site Mentorship
                    {% endif %}
                </h1>
            </div>
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
    <p>You do not have permission to edit site mentorship logs.</p>
{% endif %}
{% endblock content %}
