
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Add/Edit Time Sheet
{% endblock title %}
{% block content %}
<a href="{% url 'ops:timesheets' %}">&larr; Back</a>
{% if perms.ops.change_timesheet %}
<div class="row">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
    <div class="row align-page-content">
      <div class="card-header">
        <div class="toolbar float-right">
            {% if object.pk %}
                {% if perms.ops.delete_timesheet %}
                    <a href="{% url 'ops:timesheet_delete' object.pk %}" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Delete Time Sheet</span>
                    </a>
                {% endif %}

                {% if perms.ops.can_approve_timesheet and not object.is_approved %}
                    <a href="{% url 'ops:timesheet_approve' object.pk %}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <span class="text">Approve Time Sheet</span>
                    </a>
                {% endif %}
            {% endif %}
        </div>
      </div>

      <div class="row d-block">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 center-form">
          <div class="p-lg-5 p-xs-1 p-sm-1">
            <div class="text-left">
                <h1 class="h4 text-gray-900 mb-4">
                    {% if object.pk %}
                        Edit Time Sheet
                    {% else %}
                        Create Time Sheet
                    {% endif %}
                </h1>
            </div>
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
    <p>You do not have permission to edit timesheets.</p>
{% endif %}
{% endblock content %}
