{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Add/Edit Daily Comments
{% endblock title %}
{% block content %}

<div class="row">
<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
<div class="row d-block">
    <div class="col-lg-2"></div>
        <div class="col-lg-8 center-form">
            <form action="" method="post" enctype="multipart/form-data">

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}

                {% csrf_token %}

                {{ form.management_form }}
                {{ form.non_form_errors }}

                <h3>Update Comments</h3>
                {% for comments_form in form.forms %}
                <hr>
                <h5>
                    {% if comments_form.instance.id %}
                    Created at: {{ comments_form.instance.created }}
                    {% else %}
                    {% if form.forms|length > 1 %}
                        Add another comment
                    {% else %}
                        Add comment
                    {% endif %}
                    {% endif %}
                </h5>
                {% for hidden_field in comments_form.hidden_fields %}
                    {{ hidden_field.errors }}
                {% endfor %}
                <table>
                    {{ comments_form.as_table }}
                </table>
                {% endfor %}
                <hr>
                <p>
                <button type="submit" class="btn btn-primary w-100 mb-3">Save Changes</button>
                <a href="{{ weeklyprogramupdate.get_absolute_url  }}" role="button" class="btn btn-secondary w-100">Cancel</a>
                </p>
            </form>
        </div>
    </div>
   </div>

{% endblock content %}
