{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Add/Edit Weekly Update
{% endblock title %}
{% block content %}
<a href="{% url 'ops:weekly_program_updates' %}">&larr; Back</a>
{% if perms.ops.change_weeklyprogramupdate %}
<div class="row">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
    <div class="row align-page-content">
      <div class="card-header">
        <div class="toolbar float-right">
            {% if object.pk %}
                    {% if perms.ops.delete_weeklyprogramupdate %}
                        <a href="{% url 'ops:weekly_program_updates_delete' object.pk %}" class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text">Delete Weekly Update</span>
                        </a>
                    {% endif %}
                {% endif %}
          </div>
      </div>

      <div class="row d-block">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 center-form">
              {% crispy form %}
              <h3>Week's Program Comments</h3>
              <hr>
                  {% for comment in weeklyprogramupdate.updates_comment.all %}
                  <div><strong>Created at:</strong> {{ comment.created }}</div>
                  <div><strong>Comment:</strong> {{ comment.comment }}</div>
                  <hr>
                  {% endfor %}
              <p>
                  <a href="{% url 'ops:weekly_program_comments_update' pk=weeklyprogramupdate.pk %}" role="button" class="btn btn-primary w-100 mb-2">Add/Edit Comments</a>
                  <a href="{% url 'ops:weekly_program_updates' %}" role="button" class="btn btn-secondary w-100">Back</a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
    <p>You do not have permission to edit weekly program updates.</p>
{% endif %}
{% endblock content %}
